node_modules/
package-lock.json
fonts/**/otf/
.DS_Store
Thumbs.db
*.log
CLAUDE.md
Thmanyah-Font-Family/
Thmanyah-Font-Family.zip
tmp/*
tmp/tm.md
fonts/*
Thmanyah-Font-Family1/
Thmanyah-Font-Family (2).zip
skills-lock.json
.agents/
.claude/